html,body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor:default;
  font-family: "Anaheim";
  background-color: rgb(220,220,220);
}
#header{
  margin:0;
  background-color: rgba(220,220,220,0);
  position:absolute;
  top:36.5%;
  left:29%;
  color:rgb(0,0,0);
  display:flex;
  flex-direction: column;
}
.headbox{
  font-size: 150%;
  text-align: left;
}
#name{
  font-size: 400%;
}
#next{
  font-size: 400%;
  width:7%;
  color:rgb(0,0,0);
  position:relative;
  left:95%;
}
#next:hover{
  cursor:pointer;
  color:white;
}
