html,body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor:default;
  font-family: "Anaheim";
  font-size: 110%;
  background-color: rgb(241, 250, 238);
}
a{
  font-family: "Anaheim";
  color:rgb(63, 123, 157);
  font-weight:bold;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  color:rgb(230, 57, 70);
}
.header,.experience,.projects,.contact,.intro,.project{
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 2%;
  background-color: rgba(241, 250, 238,0);
  width: 60%;
  color: rgb(29, 53, 87);
  display: flex;
  flex-direction: column;
}
.headbox,.contactbox,.introbox,.projectbox{
  text-align: left;
}
#name{
  font-size: 200%;
}
